<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="userBase::layout(~{::section})">
<head>
<title>Title of the document</title>
</head>

<body>


		<section>
		<br>
		<br> <br>

		<div class="container">




			<div class="card flex-md-row mb-4 box-shadow h-md-250">
				<div class="card-body d-flex flex-column align-items-start">
					<div th:if="${session.msg}" th:classappend="${session.msg.type}"
						class="alert th:" role="alert">
						<p th:text="${session.msg.content}"></p>
						<th:block th:text="${@sessionHelper.removeMessageFromSession()}"></th:block>
					</div>
					<form action="" th:action="@{'/user/do_contact_update/'+${contact.CId}}" method="post" enctype="multipart/form-data" 
						th:object="${contact}">
						<div class="form-group">
							<label for="exampleFormControlInput1">Name</label> <input
								type="text"
								th:classappend="${#fields.hasErrors('name') ? 'is-invalid':''}"
								class="form-control" id="exampleFormControlInput1" name="name"
								required="required" placeholder="Your name"
								th:value="${contact.name}">
							<div id="validationServer03Feedback" class="invalid-feedback">
								Please provide a valid city.</div>
						</div>

						<div class="form-group">
							<label for="exampleFormControlInput2">Email</label> <input
								type="email" class="form-control" id="exampleFormControlInput2"
								name="cEmail" required="required" placeholder="Your email"
								th:value="${contact.cEmail}">
						</div>
						
						<div class="form-group">
							<label for="exampleFormControlInput4">PhoneNumber</label> <input
								type="text" class="form-control" id="exampleFormControlInput4"
								name="phoneNumber" required="required" placeholder="Your phoneNumber"
								th:value="${contact.phoneNumber}">
						</div>
						
						<div class="form-group">
							<label for="exampleFormControlInput3">Work</label> <input
								type="text" class="form-control" id="exampleFormControlInput3"
								name="work" required="required" placeholder="Your Work"
								th:value="${contact.work}">
						</div>

						<div class="form-group">
							<label for="exampleFormControlTextarea1">About</label>
							<textarea class="form-control" id="exampleFormControlTextarea1"
								name="description" rows="3" th:value="${contact.description}"></textarea>
						</div>

						<label for="inputGroupFile01">Image</label>
						<div class="input-group mb-3 ">
							<div class="custom-file form-control form-group">

								<input type="file" name="imgUrl2" class="custom-file-input"
									id="inputGroupFile01"> <label class="custom-file-label"
									for="inputGroupFile01">Choose file</label>
							</div>
						</div>

						<div>

							<button type="submit" class="btn btn-info">Update</button>
						</div>
						</form>
				</div>
				<img class="card-img-right flex-auto d-none d-md-block p-2 m-3 rounded-circle"
					data-src="holder.js/200x250?theme=thumb" alt="Thumbnail [200x250]"
					th:src="@{'/img/'+${contact.imgUrl}}"
					data-holder-rendered="true" style="width: 400px; height: 400px;">


			</div>

		</div>
	</section>
</body>

</html>